@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue;
}

html, body {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */